*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: #64748B;
  background-color: #F1F5F9;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
}

.fz24 {
  font-size: 24px;
  line-height: 1.5;
}

.fz14 {
  font-size: 14px;
  line-height: 20px;
}

.fz12 {
  font-size: 12px;
  line-height: 18px;
}

p {
  margin-bottom: 12px;
}

p:last-child {
  margin-bottom: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: #0EA5E9;
}

ol,
ul,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fz-16 {
  font-size: 16px;
  list-style: 1.5;
}

.color-gd {
  color: #475569;
}

.color-d {
  color: #334155;
}

.fw-6 {
  font-weight: 600;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #adadad;
}

.bodyWrap {
  overflow: hidden;
}

.dashboard_wraper {
  position: relative;
  z-index: 1;
}

.top_menu_area {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  right: 0;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 8px 48px 8px 48px;
}

.topNav {
  margin-left: auto;
  position: relative;
  display: flex;
  align-items: center;
  color: #475569;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.topNav a {
  color: #475569;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

a.logOut {
  display: block;
  margin-left: 8px;
}

a.admin>span {
  margin-left: 12px;
}

.dashboard_container {
  height: 100vh;
  padding: 73px 25px 25px 265px;
}

.mainMenu_area {
  position: fixed;
  z-index: 111;
  left: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  box-shadow: inset -1px 0px 0px #F1F1F1;
}

.mainMenuInne {
  max-height: 100%;
  overflow: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

a.navBrand {
  display: block;
  margin: 0 15px 44px 15px;
}

a.navBrand img {
  display: block;
  width: 100%;
}

.menu_list li a {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 10px 24px;
  transition: .3s ease all;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4F5B67;
  position: relative;
  z-index: 1;
}

.menu_list li a:hover,
.menu_list li.active>a {
  background: #F7F7FB;
  color: #0D0D54;
}

.navIcon {
  display: block;
  width: 24px;
  margin-right: 12px;
}

.navIcon img {
  display: block;
  width: 100%;
  filter: brightness(0);
  opacity: .5;
  transition: .3s ease all;
}

ul.submenu_list {
  padding-left: 24px;
  padding-top: 8px;
}

.menu_list li.active>a .navIcon img,
.menu_list li a:hover .navIcon img {
  filter: unset;
  opacity: 1;
}

li.menuItem {
  margin-bottom: 8px;
}

li.menuItem:last-child {
  margin: 0;
}

.menu_list li a:after {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  bottom: 0;
  background: #4040F2;
  width: 4px;
  content: "";
  transition: .3s ease all;
  opacity: 0;
}

.menu_list li.active>a:after {
  opacity: 1;
}

.dashboard_inner_container {
  background: #fff;
  height: 100%;
  max-height: 100%;
  overflow: hidden auto;
  padding: 25px;
  max-width: 1600px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dashCardFilter {
  display: flex;
  align-items: center;
  max-width: fit-content;
  margin-left: auto;
  margin-bottom: 13px;
}

.dashCardFilter label {
  font-size: 12px;
  color: #000;
  font-weight: 600;
}

.dashCardFilter select {
  font-size: 12px;
  color: #000;
  font-weight: 600;
  border: 0;
  background: transparent;
  padding: 3px 0;
  border-bottom: 1px solid #E2E8F0;
}

.dashboards_cards {
  border: 1px solid #A8B0B9;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  padding: 15px 25px 25px 25px;
  background: #fff;
  transition: .3s ease all;
}

.cardTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 12px 0;
}

.dashboards_cards>h2 {
  color: #000;
  margin-bottom: 21px;
}

ul.cardList li {
  display: flex;
  align-items: center;
}

ul.cardList li img {
  display: block;
  width: 24px;
  height: auto;
  margin-right: 8px;
}

.dashboards_cards:hover {
  background: #FFFFFF;
  border: 1px solid #A8B0B9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.setupBox {
  padding: 30px 10px;
  max-width: 1100px;
}

.connection_row {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.switchbox,
.connectBtn {
  width: 25%;
}

.connectInpyt {
  width: 45%;
  padding-right: 50px;
  margin-right: auto;
}

div .form-control {
  background: #FFFFFF;
  border: 1px solid #CBD5E1;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #64748B;
  padding: 8px 12px;
}

.connectLabel {
  display: block;
  margin-left: 38px;
}

.switchbox.connectCol {
  display: flex;
  align-items: center;
}

.switchCheck input {
  display: none;
}

.switchCheck label {
  /* background: #38BDF8; */
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 36px;
  height: 16px;
  background: #EFEFEF;
  box-shadow: inset 0px 6px 8px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: .3s ease all;
}

.switchCircle {
  display: block;
  flex-shrink: 0;
  background: linear-gradient(180deg, #FFFFFF 0%, #E8EAEA 100%);
  width: 12.6px;
  height: 12.44px;
  border-radius: 50%;
  filter: drop-shadow(-2px 1px 6px rgba(0, 0, 0, 0.25));
  position: absolute;
  left: 2px;
  transition: .3s ease all;
  top: 50%;
  transform: translateY(-50%);
}


.switchCheck input:checked+label {
  background: #38BDF8;
}

.switchCheck input:checked+label .switchCircle {
  left: 20px;
}

.setupBox h2 {
  margin-bottom: 18px;
}

.Btn {
  background: #0EA5E9;
  border-radius: 4px;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  border: 1px solid #0EA5E9;
  padding: 7px 16px;
  transition: .3s ease all;
  cursor: pointer;
  display: inline-block;
}

.Btn:hover {
  background: transparent;
  color: #0EA5E9;
}

.connectBtn {
  padding-left: 30px;
}

.destination_row {
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-top: 1px solid #F1F5F9;
}

.apiCol {
  width: 25%;
}

.destinationInput {
  width: 50%;
  padding-right: 30px;
}

.refresh {
  display: inline-flex;
  color: #0284C7;
  flex-grow: 1;
  padding-left: 30px;
}

.refresh img {
  margin-right: 7px;
}

.connectDestination>h2 {
  margin-bottom: 6px;
}

.setupBox.connectDestination {
  margin-top: 30px;
}

.schedulesCol {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.schedulesCol label {
  width: 160px;
}

.schedulesRow.row {
  padding: 12px 0;
}

.schedulesCol select {
  max-width: 120px;
}

.schedulesBox.poSchedules {
  margin-top: 30px;
}

select.disabled {
  opacity: .5;
  pointer-events: none;
}

select.form-control {
  appearance: auto;
}

.logFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 12px;
  border-bottom: 1px solid #E2E8F0;
}

.fillterAll {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #000;
}

.fillterAll select {
  border: 0;
}

table.table {
  margin: 0 !important;
}

table.table tr td,
table.table tr th {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #F1F5F9 !important;
  padding: 8px !important;
}

table.table tr td:first-child,
table.table tr th:first-child {
  text-align: left;
}

table.table tr td:last-child,
table.table tr th:last-child {
  text-align: right;
}

table.table tr th {
  background: #F8FAFC;
  font-weight: 800;
  font-size: 12px;
  line-height: 20px;
  color: #64748B;
}

.selectAll {
  display: flex;
  align-items: center;
}

.selectAll img {
  margin-left: 5px;
}

table.table.logReport.dataTable thead>tr>th:last-child:after,
table.table.logReport.dataTable thead>tr>th:last-child:after,
table.table.logReport.dataTable thead>tr>th:last-child:before,
table.table.logReport.dataTable thead>tr>th:last-child:before,
table.table.logReport.dataTable thead>tr>th:first-child:after,
table.table.logReport.dataTable thead>tr>th:first-child:after,
table.table.logReport.dataTable thead>tr>th:first-child:before,
table.table.logReport.dataTable thead>tr>th:first-child:before {
  display: none;
}

.dataTables_info {
  text-align: center;
  padding-top: 25px !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

ul.pagination li.paginate_button.page-item.previous {
  display: block;
  background: transparent;
  margin-right: auto;
}

ul.pagination li {
  display: none;
}

ul.pagination li.paginate_button.page-item.next {
  display: block;
}

ul.pagination {
  display: flex;
  justify-content: space-between !important;
  width: 100%;
  margin-top: -18px !important;
}

ul.pagination li a {
  background: transparent;
  padding: 0;
  border: 0;
  font-weight: 800;
  font-size: 12px;
  line-height: 18px;
  color: #0EA5E9;
  border-radius: 0 !important;
}

ul.pagination li a:hover {
  background: transparent !important;
  outline: none;
  box-shadow: none;
}

.nav.nav-pills li.nav-item {
  flex-grow: 1;
  padding: 0 3px;
}

.nav.nav-pills .nav-item .nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: block;
  width: 100%;
  color: #4F5B67;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0;
  padding: 12px;
}

.nav.nav-pills .nav-item .nav-link.active {
  background: #F7F7FB;
  color: #000;
}

.tabinnerContainer {
  padding: 20px 0;
}

.invouceId {
  padding: 0 25px 7px 25px;
}

.invoiceRow.row {
  padding: 10px 25px 15px 25px;
  border-top: 1px solid #F1F5F9;
}

.invoiceColRight .dualBtn {
  justify-content: space-between;
  display: flex;
}

.qualityUnit {
  text-align: center;
  background: #64748B;
  border-radius: 4px;
  color: #fff;
  padding: 16px;
  margin: 10px 0;
}

.invouceId a {
  color: #0284C7;
}

.btn-success {
  background: #22C55E;
  border-radius: 4px;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  border: 1px solid #22C55E;
  padding: 7px 16px;
  transition: .3s ease all;
  cursor: pointer;
  display: inline-block;
}

.btn-success:hover {
  background: transparent;
  color: #22C55E;
  border-color: #22C55E;
}

.Btn:hover img,
.btn-success:hover img {
  filter: invert(1);
  opacity: .5;
}

.text-right {
  text-align: right;
}

p.purchesOrder {
  color: #334155;
}

.TabpurchesOrder {
  padding: 0;
  background: transparent;
  box-shadow: none;
  padding-right: 20px;
}

.purchesContainer {
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 30px;
}

.purchesLogo img {
  max-width: 100%;
  width: 216px;
  margin-bottom: 10px;
}

.purchesLogo h2 {
  color: #334155;
}

.purches_top.row {
  margin-bottom: 10px;
  border-bottom: 1px dashed #E9EBEC;
  padding-bottom: 10px;
}

.purchesTable {
  border-bottom: 1px dashed #E9EBEC;
  padding: 15px 0 25px;
}

.purchesTable table.table * {
  border: 0 !important;
}

table.table.poShipTable {
  max-width: 290px;
}

table.table.poShipTable thead tr td {}

table.table.poShipTable tbody tr td:first-child {
  max-width: 110px;
}

table.table.poShipTable td {
  text-align: left !important;
  padding: 5px 8px !important;
}

div#purches_Datatable_wrapper {}

.purchesDataTable {
  padding-top: 10px;
}

.purchesTable.poShip {
  border-bottom: 0;
}

table#purches_Datatable tr td {
  border: 0 !important;
}

.purchesTotal {
  text-align: right;
  padding-top: 15px;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;
  color: #212529;
  border-top: 1px dashed #E9EBEC;
}

.purchesTotal> span {
  display: inline-block;
}

span.totalAmount {
  width: 200px;
  text-align: left;
  padding-left: 40px;
}

.prchesBottom {
  margin-top: 50px;
}

.purchesNot {
  background: #E5F6FB;
  border: 1px solid #BAE6FD;
  border-radius: 4px;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  padding: 12px 17px;
}

.purchesBtn {
  margin-top: 20px;
  text-align: right;
  padding-bottom: 10px;
}

table.table.taxableTable td {
  padding: 4px !important;
}

.taxableTable {
  margin-top: 30px;
}

.taxable_title {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px dashed #E9EBEC;
}

.purchesNot.invoiceNot {
  text-align: center;
  color: #0284C7;
  border: 1px solid #BAE6FD;
}

.invoice_pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invoice_pagination ul.pagination {
  width: auto;
  margin: 0;
}

.invoice_pagination ul.paginations li {
  font-size: 15px;
}

ul.paginations {
  display: flex;
  align-items: center;
}

ul.paginations> li {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  padding-right: 10px;
  color: #878A99;
}

ul.paginations li:after {
  display: block;
  content: ">";
  margin-left: 5px;
}

ul.paginations> li:last-child {
  margin: 0;
  padding: 0;
}

ul.paginations> li:last-child:after {
  display: none;
}

ul.paginations> li a {
  color: #495057;
}

.connectInvoiceContainer {
  max-width: 1000px;
  margin: 0 auto;
}

.connectInvoiceCol {
  height: 100%;
  background: #fff;
}

.connectInvoiceTitle {
  background: #94A3B8;
  padding: 13px 10px;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

.connectInvoiceItem {
  padding: 15px 25px;
  border-top: 1px dashed #94A3B8;
  min-height: 264px;
}

.connectInvoiceItem .invouceId {
  padding: 0 0 15px 0;
}

.connectInvoiceItem select {
  margin-bottom: 10px;
}

.grayBox {
  background: #F1F5F9;
  display: table;
  padding: 8px;
  min-width: 145px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.Btn.w-100 {
  text-align: center;
}

.btn-success.w-100 {
  text-align: center;
}

.select_quaUnit {
  margin-bottom: 8px;
}

.select_quaUnit .row {
  align-items: center;
}

.select_quaUnit .grayBox, .select_quaUnit select {
  margin: 0;
}

.select_quaUnit .grayBox {
  display: block;
}
