<!DOCTYPE html>
<html>
<head>
  <title>Flask Web App</title>
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"> -->
</head>
<body>
  <nav>
    <ul>
      <li><a href="{{ url_for('home') }}" {% if active_tab == 'home' %}class="active"{% endif %}>Home</a></li>
      <li><a href="{{ url_for('products') }}" {% if active_tab == 'products' %}class="active"{% endif %}>Products</a></li>
    </ul>
  </nav>

  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
