<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contact Us Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>
<body>
	<main>
		<header>

			<nav class="navigation">
			  <a href="{{ url_for('home') }}"><button>Home</button></a>
			  <!-- <a href="{{ url_for('aboutus') }}"><button>About Us</button></a> -->
			  <a href="{{ url_for('project') }}"><button>Project</button></a>
			</nav>
			
		  </header>
		<section class="contact-form">
			<h2>Contact Us</h2>
			<form action="us.php" method="post">
				<label for="name">Name:</label>
				<input type="text" id="name" name="name" required>
				<label for="email">Email:</label>
				<input type="email" id="email" name="email" required>
				<label for="subject">Subject:</label>
				<input type="text" id="subject" name="subject" required>
				<label for="message">Message:</label>
				<textarea id="message" name="message" required></textarea>
				<button type="submit">Send Message</button>
			</form>
			
		</section>
	</main>
</body>
</html>
