<!DOCTYPE html>
<html>
  <head>
    <title>Meme Explainer Bot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="{{ url_for('static', filename='images/111-1116375_robotics-and-computer-science-black-and-white-robot.png')}}" alt='Robot Icon' width='50' height='30'>
        Meme-Explainer Bot
      </div>
      <nav class="navigation">
        <a href="{{ url_for('home') }}"><button>Home</button></a>
        <!-- <a href="{{ url_for('aboutus') }}"><button>About Us</button></a> -->
        <a href="{{ url_for('contact') }}"><button>Contact Us</button></a>
      </nav>
      
    </header>
    <h1>Meme Explainer Bot</h1>
    <form method="post" enctype="multipart/form-data">
      {{ form.csrf_token }}
      {{ form.image.label }} {{ form.image }}
      {{ form.submit }}
    </form>
    {% if caption %}
    <h2>Generated Caption:</h2>
    <p>{{ caption }}</p>
    {% endif %}
    {% if image %}
    <h2>Uploaded Image:</h2>
    {{ image }}
    <img src="{{ url_for('static', filename='memes/' + image) }}" alt="Uploaded Image">
    {% endif %}
  </body>
</html>
